header {
  max-width: 1396px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo__icon {
  display: flex;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  background: linear-gradient(90deg, #555248, #fdfdfb);
  border-radius: 100%;
}
.header__logo__icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #fdfdfb;
  right: 0;
}
.header__logo__icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.5px;
  height: 18px;
  background-color: rgba(85, 82, 72, 0.4823529412);
  left: 9px;
  z-index: 1;
}

.header__logo__text {
  font-family: "Playfair Display";
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.14em;
  color: #555248;
}
@media (max-width: 500px) {
  .header__logo__text {
    display: none;
  }
}

.header__menu_categories {
  display: flex;
  gap: 65px;
  font-size: 16px;
  font-family: Roboto;
}
.header__menu_categories > input[type=radio] {
  display: none;
}
.header__menu_categories > label {
  cursor: pointer;
}
@media (max-width: 910px) {
  .header__menu_categories {
    display: none;
  }
}

.header__menu_icons__wrapper {
  display: flex;
  align-items: stretch;
  gap: 15px;
}

.header__menu_icons {
  display: flex;
  gap: 23px;
}
.header__menu_icons > li > img,
.header__menu_icons > li > div > img {
  width: 30px;
  height: 25px;
  cursor: pointer;
}
@media (max-width: 610px) {
  .header__menu_icons > li:nth-child(2) {
    display: none;
  }
  .header__menu_icons > li:nth-child(3) {
    display: none;
  }
}

.header__menu_icons__burger__container {
  display: none;
}
@media (max-width: 910px) {
  .header__menu_icons__burger__container {
    display: block;
  }
}

.header__menu_icons__burger__icon {
  height: 100%;
  width: 30px;
  background-color: #615e57;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 7px;
}
.header__menu_icons__burger__icon > div {
  position: relative;
  width: 70%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
}
.header__menu_icons__burger__icon > div::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.header__menu_icons__burger__icon > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.header__menu_icons__burger__menu {
  display: none;
  position: absolute;
  width: 250px;
  height: 500px;
  cursor: default;
  right: 0;
  top: 80px;
  background-color: #a89f89;
  font-family: Roboto;
  font-size: 18px;
  animation: moveLeft 0.3s;
  z-index: 999;
}
@media (max-width: 440px) {
  .header__menu_icons__burger__menu {
    width: 100%;
    height: 100%;
  }
}
.header__menu_icons__burger__menu > li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.header__menu_icons__burger__menu > li > p {
  color: inherit;
}
.header__menu_icons__burger__menu > li:hover {
  background-color: #968e79;
}
@media (min-width: 610px) {
  .header__menu_icons__burger__menu > li:nth-child(5) {
    display: none;
  }
  .header__menu_icons__burger__menu > li:nth-child(6) {
    display: none;
  }
}

.header__container__search {
  display: none;
  align-items: stretch;
  gap: 10px;
  position: relative;
}

.header__search__icon {
  position: absolute;
  width: 18px !important;
  left: 5px;
  top: 2px;
}

.header__search {
  padding: 3px 5px;
  padding-left: 26px;
  font-size: 15px;
}

.icon_heart {
  position: relative;
  display: flex;
}

.icon_heart__count {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  background-color: #e6c8b4;
  border-radius: 100%;
  padding: 3px 5px;
  right: -5;
  top: -3;
}
.icon_heart__count > p {
  background-color: transparent;
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.screen_1 {
  display: flex;
  gap: calc(66px + 104 * (100vw - 793px) / 1127);
  justify-content: center;
  align-items: center;
  padding-right: 110px;
  padding-left: 80px;
}
@media (max-width: 793px) {
  .screen_1 {
    padding-right: 0;
    padding-left: 0;
  }
}

.screen_1__info__wrapper {
  font-family: "Playfair Display";
  color: #1b1a17;
  margin-top: 230px;
  font-size: calc(30px + 1.3020833333vw);
  margin-bottom: 250px;
}

.screen_1__info__container {
  margin-bottom: calc(17px + 23 * (100vw - 793px) / 1127);
  position: relative;
  z-index: 1;
  background: transparent;
}

.screen_1__info__title {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 60px;
  white-space: nowrap;
  margin-bottom: calc(3px + 0.6770833333vw);
  background: inherit;
}
.screen_1__info__title::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 50px;
  background-color: #8b8371;
  left: -65px;
}

.screen_1__info__subtitle {
  font-weight: 400;
  font-size: 0.6em;
  line-height: 40px;
  background: inherit;
}

.screen_1__info__descrip {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.3em;
  line-height: 21px;
  width: calc(226px + 94 * (100vw - 793px) / 1127);
  margin-bottom: 64px;
  position: relative;
  z-index: 1;
}

.screen_1__info__btn {
  display: inline-block;
  color: #fff;
  background-color: #444240;
  font-family: "Roboto";
  font-size: calc(13px + 0.0520833333vw);
  line-height: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 6.5% 10%;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 1;
}

.screen_1__img__wrapper {
  position: relative;
  color: #1b1a17;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-height: 775px;
  height: 100%;
  overflow-y: clip;
}
@media (max-width: 793px) {
  .screen_1__img__wrapper {
    display: none;
  }
}

.screen_1__img__line, .screen_1__img__size::before, .screen_1__img__price::after {
  content: "";
  display: block;
  height: 1px;
  width: 50px;
  background-color: #8b8371;
}

.screen_1__img__info, .screen_1__img__size, .screen_1__img__price {
  position: absolute;
  display: flex;
  font-size: calc(13px + 0.2083333333vw);
  gap: 15px;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

.screen_1__img__watch {
  position: relative;
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

.screen_1__img__price {
  top: 20%;
  left: -20%;
}
@media (max-width: 975px) {
  .screen_1__img__price::after {
    content: none;
  }
}

.screen_1__img__size {
  bottom: 20%;
  right: -28%;
}
@media (max-width: 975px) {
  .screen_1__img__size::before {
    content: none;
  }
}

.screen_1__img__wrapper {
  position: relative;
}
.screen_1__img__wrapper::after {
  content: "";
  position: absolute;
  display: block;
  max-width: 500px;
  width: 120%;
  max-height: 900px;
  height: 150%;
  top: -10%;
  right: 40%;
  border-radius: 0 90% 90% 0/0 50% 50% 0;
  background: linear-gradient(rgba(234, 227, 212, 0), rgba(234, 227, 212, 0.6156862745));
  mix-blend-mode: normal;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 0;
}

.screen_2 {
  display: flex;
  justify-content: center;
}

.screen_2__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 1366px;
  margin-bottom: 86px;
}

.screen_2__header {
  position: relative;
  text-align: center;
}

.screen_2__header__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: calc(28px + 0.4166666667vw);
  padding-top: 80px;
  padding-bottom: 52px;
  color: #1b1a17;
}

.screen_2__header__see_all {
  position: absolute;
  right: 0px;
  bottom: 30px;
  font-family: Roboto;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #c4c0b6;
}
@media (max-width: 1360px) {
  .screen_2__header__see_all {
    margin-right: 20px;
  }
}

.screen_2__menu_watches {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.screen_2__menu_watches > li {
  padding: 30px 30px;
  background-color: #fbfbf8;
}
@media (max-width: 1379px) {
  .screen_2__menu_watches {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}
@media (max-width: 779px) {
  .screen_2__menu_watches {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}

.screen_2__watch_title {
  font-family: "Playfair Display";
  font-weight: 700;
  margin-bottom: 5px;
  background-color: transparent;
}

.screen_2__watch_price {
  font-family: "Prata";
  background-color: transparent;
}

.screen_2__watch__img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(270deg, #eae3d4, rgba(234, 227, 212, 0));
  width: 320px;
  height: 320px;
}

.screen_2__watch__img {
  border-radius: 100%;
  width: 318px;
  background-color: #fbfbf8;
}

.screen_2__menu_more {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  background-color: transparent;
}
.screen_2__menu_more::before {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  background-color: #8b8371;
}

.banner__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f7f5ef 25%, #fdfdfb 100%);
  padding: 53px 0;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 70px;
  font-size: 36px;
  background-color: transparent;
}

@media (max-width: 1033px) {
  .banner__img {
    display: none;
  }
}

.banner__info {
  background-color: transparent;
}

.banner__title {
  font-family: "Playfair Display";
  margin-bottom: 40px;
  background-color: transparent;
}

.banner__descrip {
  width: 420px;
  font-family: "Roboto";
  font-size: 0.5em;
  line-height: 150%;
  background-color: transparent;
  margin-bottom: 45px;
}

.banner__btn {
  background-color: #d4b098;
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  padding: 26px 38px;
}

.banner__page {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 15px;
  bottom: -40px;
  right: 58%;
  font-family: "Prata";
  font-size: 14px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.8196078431);
  background-color: transparent;
}

.banner__page__count {
  margin-bottom: 2px;
  cursor: pointer;
}

.banner__symbol_prev {
  position: relative;
  background-color: #1b1a17;
  height: 1px;
  width: 10px;
  transform: rotate(45deg);
  cursor: pointer;
}
.banner__symbol_prev::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
  background-color: #1b1a17;
  height: 1px;
  width: 10px;
  transform: rotate(90deg);
}

.banner__symbol_next {
  position: relative;
  background-color: #1b1a17;
  height: 1px;
  width: 10px;
  transform: rotate(-45deg);
  cursor: pointer;
}
.banner__symbol_next::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  display: block;
  background-color: #1b1a17;
  height: 1px;
  width: 10px;
  transform: rotate(90deg);
}

.banner__arc_1 {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 0 0 0 100%;
  right: 0;
  top: 0;
  border-left: 1px solid #d4b098;
  border-bottom: 1px solid #d4b098;
  background-color: transparent;
}
@media (max-width: 1755px) {
  .banner__arc_1 {
    display: none;
  }
}

.banner__arc_2 {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 100% 0 0 0;
  right: 0px;
  bottom: 0px;
  border-left: 1px solid #d4b098;
  border-top: 1px solid #d4b098;
  background-color: transparent;
}
@media (max-width: 1755px) {
  .banner__arc_2 {
    display: none;
  }
}

.screen_3 {
  display: flex;
  align-items: center;
  width: 1366px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 90px;
}

.screen_3__info__text {
  font-size: 36px;
  margin-bottom: 125px;
}

.screen_3__info__title {
  font-family: "Playfair Display";
  line-height: 43px;
  color: #1b1a17;
  margin-bottom: 40px;
}

.screen_3__info__descrip {
  width: 376px;
  font-family: "Roboto";
  font-size: 0.45em;
  line-height: 27px;
}

.screen_3__descrip__bold {
  font-weight: 600;
}

.screen_3__info__menu_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.screen_3__imgs {
  display: flex;
  gap: 20px;
}

.screen_3__imgs__little {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main {
  background-color: #fdfdfb;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 275px;
  background-color: #444240;
}

.footer__menu_categories {
  display: flex;
  gap: 120px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.footer__logo__icon {
  display: flex;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  background: linear-gradient(90deg, #fff, #444240);
  border-radius: 100%;
}
.footer__logo__icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #444240;
  right: 0;
}
.footer__logo__icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.5px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.4745098039);
  left: 9px;
  z-index: 1;
}

.footer__logo__text {
  font-family: "Playfair Display";
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.14em;
  color: #fff;
}

.footer__menu_categories > li {
  font-family: "Roboto";
}
.footer__menu_categories > li > p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.footer__menu_categories > li > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__menu_categories > li > ul > li {
  color: rgba(255, 255, 255, 0.768627451);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.active {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  color: #000;
}

body {
  background-color: #fdfdfb;
}