.banner__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, #f7f5ef 25%, #fdfdfb 100%);
	padding: 53px 0;
}

.banner {
	position: relative;
	display: flex;
	align-items: center;
	gap: 70px;

	background-color: transparent;

	@media (max-width: 1024px) {
		flex-direction: column;
	}
}

.banner__wrapper_img {
	position: relative;

	@media (max-width: 1024px) {
		order: 1;
	}
}

.banner__img {
	width: 100%;
	height: 100%;

	//padding: 0 30px;
	padding: 0 calc(25px + -25 * (100vw - 401px) / (533 - 401));
}

.banner__img__wrapper__page {
	position: absolute;
	right: 120px;
	bottom: -40px;
}

.banner__img__page {
	position: relative;
	display: flex;
	align-items: center;

	font-size: 16px;

	//width: 40px;

	&::after {
		content: '';
		position: absolute;
		display: block;

		width: 10px;
		height: 10px;

		border-top: 1px solid #000;
		border-right: 1px solid #000;

		right: -25px;
		transform: rotate(45deg);
		cursor: pointer;
	}

	&::before {
		content: '';
		position: absolute;
		display: block;

		width: 10px;
		height: 10px;

		border-top: 1px solid #000;
		border-right: 1px solid #000;

		left: -25px;
		transform: rotate(225deg);
		cursor: pointer;
	}
}

.banner__info {
	background-color: transparent;
	//font-size: 36px;
	font-size: calc(26px + 10 * (100vw / 1920));

	@media (max-width: 1024px) {
		order: 0;
	}

	@media (max-width: 440px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.banner__title {
	font-family: 'Playfair Display';
	margin-bottom: calc(25px + 15 * (100vw - 401px) / (1920 - 401));
	//margin-bottom: 40px;
	background-color: transparent;
}

.banner__descrip {
	width: 420px;
	font-family: 'Roboto';
	font-size: 0.5em;
	line-height: 150%;
	background-color: transparent;
	margin-bottom: 45px;

	//padding: 0 20px;

	@media (max-width: 432px) {
		padding: 0 20px;
	}
}

.banner__btn {
	background-color: #d4b098;
	color: #fff;
	font-family: 'Roboto';
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0.05em;
	border: none;
	text-transform: uppercase;
	cursor: pointer;

	font-size: 14px;
	//padding: 26px 38px;

	padding: calc(23px + 3 * (100vw - 401px) / (1920 - 401))
		calc(34px + 4 * (100vw - 401px) / (1920 - 401));
}

.banner__arc_1 {
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 0 0 0 100%;
	right: 0;
	top: 0;

	border-left: 1px solid #d4b098;
	border-bottom: 1px solid #d4b098;
	background-color: transparent;

	@media (max-width: 1755px) {
		display: none;
	}
}

.banner__arc_2 {
	position: absolute;
	width: 450px;
	height: 450px;
	border-radius: 100% 0 0 0;
	right: 0px;
	bottom: 0px;

	border-left: 1px solid #d4b098;
	border-top: 1px solid #d4b098;
	background-color: transparent;

	@media (max-width: 1755px) {
		display: none;
	}
}
