.screen_3 {
	display: flex;
	align-items: center;
	max-width: 1366px;

	justify-content: space-between;

	margin: 0 auto;

	padding-top: 80px;
	padding-bottom: 90px;

	@media (max-width: 1383px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (max-width: 824px) {
		flex-direction: column;
		//align-items: stretch;
	}
}

.screen_3__info {
	@media (max-width: 824px) {
		margin-bottom: 20px;
	}
}

.screen_3__info__text {
	//font-size: 36px;
	font-size: calc(30px + 6 * (100vw / 1920));
	//margin-bottom: 125px;
	margin-bottom: calc(80px + 45 * (100vw - 825px) / (1920 - 825));
}

.screen_3__info__title {
	font-family: 'Playfair Display';

	line-height: 43px;

	color: #1b1a17;
	//margin-bottom: 40px;
	margin-bottom: calc(26px + 14 * (100vw - 825px) / (1920 - 825));
}

.screen_3__info__descrip {
	width: 376px;
	font-family: 'Roboto';
	font-size: 0.45em;
	line-height: 27px;
}

.screen_3__descrip__bold {
	font-weight: 600;
}

.screen_3__info__menu_icons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.screen_3__imgs {
	display: flex;
	align-items: stretch;
	gap: 20px;

	> img {
		max-width: 377px;
		max-height: 460px;

		min-width: 226px;
		min-height: 276px;
		flex-grow: 1;
	}

	img {
		height: 100%;
		width: 100%;
	}
}

.screen_3__imgs__little {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
